@page "/admin/grades"
@using Microsoft.EntityFrameworkCore

@inject NavigationManager navigation
@inject IDbContextFactory<Data.Database.Context> DbFactory
@layout Components.Layout.AdminLayout
@rendermode InteractiveServer

<div>
	<div class="container h-50 py-10">
		@if (!loading)
		{
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Класс</th>
						<th scope="col">Литера</th>
					</tr>
				</thead>
				<tbody>
					@foreach (Data.Database.Model.Grade grade in grades)
					{
						var gID = grade.Id;
						<tr>
							<th scope="row">@grade.Id</th>
							<td>@grade.Name</td>
							<td>@grade.Subname</td>
							<td>
								<button class="btn btn-danger" @onclick="@(() => {DeleteGrade(gID);})">Удалить</button>
								<button type="button" class="btn btn-success" @onclick="@(() => {RedirectToAG(gID);})">Изменить</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		<button type="button" class="btn btn-primary" @onclick="@(() => {RedirectToAG(0);})">Добавить класс</button>
	</div>
</div>

@code {
	private int RedirectToAG(int n)
	{
		if (n == 0) navigation.NavigateTo("/admin/grades/addgrades/0");
		else
		{
			navigation.NavigateTo($"/admin/grades/addgrades/{n}");
		}
		return n;
	}
	private bool loading = true;

	private List<Data.Database.Model.Grade> grades;

	private async Task LoadGrades()
	{
		using (var db = DbFactory.CreateDbContext())
		{
			loading = true;
			grades = await db.Grades.ToListAsync();
		}
		loading = false;
	}
	private async Task DeleteGrade(int id)
	{
		using (var db = DbFactory.CreateDbContext())
		{
			try
			{
				var gradeToRemove = await db.Grades
					.FirstAsync(grade => grade.Id == id);

				db.Grades.Remove(gradeToRemove);
				db.SaveChanges();
				StateHasChanged();
				await db.SaveChangesAsync();
				navigation.Refresh(forceReload: true);

			}
			catch
			{
				Exception e = new Exception("ошибка");
			}

		}
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadGrades();
	}
}
